

<div class="homepage testpage">
    <h1>SEARCH NEWS API</h1>
    <form action="/" method="post">
    <input type="text" name ="searchField" style="height:50px; width:190px; font-size:22px; text-align: center" placeholder="Search News">
    <button onclick="Function()" class="button">Go</button>
    </form>
  </div>
  <body> 

  </body>
  <style>
  .testpage
 {
    display: block;
    color: black;
    text-align: center;
    align-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body {
      background-image: url("https://data.whicdn.com/images/101350221/large.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 400px;
      height: 400px;
  }
  
  
  h1 {
      color: rgb(61, 180, 235);
      font-family: cursive;
  }
  
  .button {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      }
  </style>